@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Onest Variable', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.rbc-calendar {
  color: #333;
}

.rbc-toolbar {
  color: #333;
}

.rbc-btn-group {
  color: #333;
}

.rbc-header {
  background-color: #f0f0f0;
  color: #333;
  font-weight: bold;
}

.rbc-today {
  background-color: #e6f7ff;
}

.rbc-event {
  background-color: #00b77a; 
  color: #fff;
  border: none;
}

.rbc-show-more {
  background-color: #f0f0f0;
  color: #333;
}

.rbc-now {
  background-color: #e6f7ff;
}

.rbc-btn-group button {
  color: #333;
}

.dark .rbc-calendar {
  color: #e0e0e0;
}

.dark .rbc-toolbar {
  margin-bottom: 20px;
  color: #e0e0e0;
}

.dark .rbc-btn-group {
  color: #e0e0e0;
}

.dark .rbc-header {
  background-color: #444;
  color: #e0e0e0;
  font-weight: bold;
}

.dark .rbc-today {
  background-color: #444;
}

.dark .rbc-event {
  color: #fff;
  border: none;
}

.dark .rbc-selected {
  color: #fff;
}

.dark .rbc-show-more {
  background-color: #333;
  color: #e0e0e0;
}

.dark .rbc-now {
  background-color: #444;
}

.dark .rbc-today-btn::before,
.dark .rbc-date-cell::before {
  color: #00b77a;
}

.dark .rbc-btn-group button {
  color: #e0e0e0;
  font-weight: bold;
}

